.hotelBookingForm {
    width: 100%;
    height: 100%;
}

.form-row>.col, .form-row>.col-md-5 {
    display: flex !important;
}

.react-datepicker-wrapper, .react-datepicker__input-container, .react-datepicker__input-container input {
    width: 100%;
}

.required {
    color: red;
}

.submitButtonContainer {
    margin-top: 2%;
    padding-top: 5%;
    border-top: 1px solid #dee2e6;
}

.submitButtonContainer__buttonPair {
    float: right;
}

.roomDetailsForm {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 15px;
}

.roomDetailsForm::-webkit-scrollbar {
    width: 4px;
}

/* .roomDetailsForm::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 } */

.roomDetailsForm::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 4px;
}

.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bookingDetailsForm {
    width: 45%;
}

.addRoomForm {
    width: 35%;
}

.separator {
    border-left: 1px solid #ced4da;
    margin: 0 2%;
}

.amountDetails {
    display: flex;
    justify-content: space-evenly;
}

.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .icon:hover {
    color: #dc3545;
} */

@media (min-width: 992px) {
    .abcd .modal-lg {
        max-width: 1000px;
    }

    .efgh .modal-lg {
        max-width: 800px;
    }
}

.editButton {
    margin-left: 10px;
    box-sizing: border-box;
    padding: 1%;
    color: #007bff;
}

.editButton i:hover {
    color: #0069d9;
    transform: scale(1.1);
}

.formVisibilityNone {
    display: none;
}

.deleteButton {
    color: black;
}

.deleteButton:hover {
    color: #dc3545
}